[user]
email = yuya.yano.6260@gmail.com
name = yuya yano
[color]
status = auto
diff = auto
branch = auto
interactive = auto
grep = auto
[alias]
cm = commit -m
st = status --short --branch
nl = log --graph --decorate --oneline --name-status
tl = log --graph --date=short --pretty=format:'%C(yellow)%h %C(green)%cd %C(cyan)%d %Creset%s %Cblue[%cn]'
alog = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
po = push origin
br = branch
vdiff = git difftool --tool=vimdiff
co = switch
sw = switch
[core]
editor = nvim
[init]
	defaultBranch = dev
